:root {
    /* declare a variable with `--` syntax */
    --dark: #404041;
    --light: #F4F7F7;
    --header: #E3856B;
    --button: #e6f2ce;
    --form: #CEE6F2;
    --border: #404041;
}

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    background-color: var(--form);
    color: var(--dark);
    width: auto;
    /* border: 5px solid var(--dark); */
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header);
    border-bottom: 5px solid var(--dark);
}

div.sidebyside {
    display: flex;
    flex-direction: row;
}

h1,
h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    font-size: 90%;
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    box-shadow: 3px 3px var(--dark);
}

h3 {
    margin: 5px;
    margin-top: 10px;
}

/* HOME CONTAINER + FLEX FOR CHILDREN */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

/* BUTTONS */
button {
    display: flex;
    justify-content: center ;
    padding: 5px;
    margin: 20px;
    color: var(--dark);
    font-size: 75%;
    font-weight: bold;
    border: 2px solid var(--dark);
    border-radius: 10px;
    box-shadow: 5px 5px var(--dark);
    cursor: pointer;
}

button:hover {
    background-color: var(--button);
    box-shadow: 10px 10px var(--dark);
}

/* .material-icons {
    margin: 2px;
} */

/*STATS: TIMER, QUESTION COUNTER, SCORE*/
.stats {
    padding: 5px;
    font-size: 75%;
    width: 75%;
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 10px;
    box-shadow: 3px 3px var(--dark);
}

.timer {
    display: flex;
    justify-content: center;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: var(--button);
    padding: 5px;
}


/* QUIZ CONTENT + SCORES */

.quizcontainer, .userscore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: var(--light);
    border: 3px solid var(--border);
    border-radius: 10px;
    box-shadow: 10px 10px var(--border);
    font-size: 80%;
}

.userscore {
    font-size: 100%;
    font-weight: bolder;
}

.choice-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    width: 90%;
}

.choice-container:hover {
    cursor: pointer;
    background-color: var(--button);
    border: 1px solid var(--dark);
    box-shadow: 3px 3px var(--dark);
    border-radius: 3px;
}


.choice-prefix {
    margin-left: 10px;;
    padding: 3px;
    /*background-color: var(--header);
    color: var(--light); */
}

.choice-text {
    width: 100%;
    padding: 10px;
}

.correct {
    background-color: rgb(35, 95, 35);
}

.incorrect {
    background-color: rgb(141, 46, 46);
}

/*TABLET MEDIA QUERY */
@media screen and (min-width: 768px) and (max-width: 820px) {
    .container  {
        display: flex;
        flex-direction: column;
        width: 99%;
    }

    #home {
        display: flex;
        flex-direction: row;
    }

    .stats {
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px var(--dark);
        border: 1px solid var(--dark);
        border-radius: 5px;
        box-shadow: 5px 5px var(--dark);
    }

    button {
        padding: 5px;
        margin: 20px;
        border: 1px solid var(--dark);
        border-radius: 5px;
        box-shadow: 5px 5px var(--dark);
        cursor: pointer;
    }

    #quiz {
        width: 80%;
    }
}

/* CELLPHONE MEDIA QUERY */
@media screen and (min-width: 200px) and (max-width: 767px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50%;
        font-weight: normal;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--header);
        border: 3px solid var(--dark);
    }

    h1, h2{
        border: 1px solid var(--dark);
    }

    div.sidebyside {
        display: flex;
        flex-direction: column;
    }

    .container  {
        display: flex;
        flex-direction: column;
        width: 99%;
    }

    #home {
        display: flex;
        flex-direction: row;
    }

    .stats {
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px var(--dark);
        border: 1px solid var(--dark);
        border-radius: 5px;
        box-shadow: 5px 5px var(--dark);
    }

    button {
        padding: 5px;
        margin: 20px;
        border: 1px solid var(--dark);
        border-radius: 5px;
        box-shadow: 5px 5px var(--dark);
        cursor: pointer;
    }

    #quiz {
        width: 80%;
    }

}