:root {
    /* declare a variable with `--` syntax */
    --dark: #404041;
    --light: #F4F7F7;
    --header: #E3856B;
    --button: #e6f2ce;
    --form: #CEE6F2;
    --border: #404041;
}

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    background-color: var(--form);
    color: var(--dark);
    width: auto;
    /* border: 5px solid var(--dark); */
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header);
    border-bottom: 5px solid var(--dark);
}

div.sidebyside {
    display: flex;
    flex-direction: row;
}

h1,
h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    font-size: 90%;
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    box-shadow: 3px 3px var(--dark);
}

/*STATS: TIMER, QUESTION COUNTER, SCORE*/
.stats {
    padding: 5px;
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 10px;
    box-shadow: 3px 3px var(--dark);
}
.timer {
    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: var(--button);
    padding: 5px;
}

#hud {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    font-size: 75%;
    width: 95%;
}

/* HOME CONTAINER + FLEX FOR CHILDREN */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* BUTTONS */
button {
    padding: 5px;
    margin: 20px;
    color: var(--dark);
    font-weight: bold;
    border: 2px solid var(--dark);
    border-radius: 10px;
    box-shadow: 5px 5px var(--dark);
    cursor: pointer;
}

button:hover {
    background-color: var(--button);
    box-shadow: 10px 10px var(--dark);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
}

button#next {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

button#highscores {
    font-size: 12px;
}

/* .material-icons {
    margin: 2px;
} */


/* QUIZ CONTENT*/

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    margin-right: 1rem;
    background-color: var(--light);
    border: 3px solid var(--border);
    border-radius: 10px;
    box-shadow: 10px 10px var(--border);
}

h3 {
    padding: 5px;
}

.choice-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    width: 95%;
    font-size: 14px;
}

.choice-container:hover {
    cursor: pointer;
    background-color: var(--button);
    border: 1px solid var(--dark);
    box-shadow: 3px 3px var(--dark);
    border-radius: 3px;
}


.choice-prefix {
    margin-left: 10px;;
    padding: 3px;
    /*background-color: var(--header);
    color: var(--light); */
}

.choice-text {
    width: 100%;
    padding: 10px;
}

/* TABLET MEDIA QUERY 
@media screen and (min-width: 768px) and (max-width: 820px) {
    body {
        font-size: 60%;
    }
}

/* CELLPHONE MEDIA QUERY
@media screen and (min-width: 200px) and (max-width: 767px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50%;
        border: 3px solid var(--dark);
        font-weight: normal;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--header);
        border-bottom: 3px solid var(--dark);
    }

    h1, h2{
        border: 1px solid var(--dark);
    }

    div.sidebyside {
        display: flex;
        flex-direction: column;
    }

    div.timer {
        box-shadow: 1px 1px var(--dark);
    }

    button {
        padding: 5px;
        margin: 20px;
        border: 1px solid var(--dark);
        border-radius: 10px;
        box-shadow: 5px 5px var(--dark);
        cursor: pointer;
    }

}