:root {
    /* declare a variable with `--` syntax */
    --dark: #404041;
    --light: #F4F7F7;
    --header: #E3856B;
    --button: #e6f2ce;
    --form: #CEE6F2;
    --border: #404041;
}

/* BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    background-color: var(--form);
    color: var(--dark);
    width: auto;
    border: 5px solid var(--dark);
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header);
    border-bottom: 5px solid var(--dark);
}

div.sidebyside {
    display: flex;
    flex-direction: row;
}

h1,
h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    box-shadow: 3px 3px var(--dark);
}

/*TIMER*/
div.timer {
    margin-bottom: 20px;
    padding: 5px;
    color: var(--dark);
    background-color: var(--button);
    border: 1px solid var(--dark);
    border-radius: 4px;
    box-shadow: 3px 3px var(--dark);
}

/* START WINDOW with BUTTON */

div.startwindow {
    display: flex;
    justify-content: center;
    background-color: var(--form);
    padding: 30px;
}

button#begin {
    width: 50%;
}

/* FORM /QUIZ QUESTIONS*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 300px;
    background-color: var(--form);
}

fieldset {
    background-color: var(--light);
    border: 3px solid var(--border);
    border-radius: 10px;
    box-shadow: 10px 10px var(--border);
}

/* Aligning the input and label on the same line */

div.choices {
    display: flex;
    flex-direction: column;
}

div.answer {
    display: inline-block;
    margin: 10px;
}

/* BUTTONS */

button {
    padding: 5px;
    margin: 20px;
    color: var(--dark);
    font-weight: bold;
    border: 2px solid var(--dark);
    border-radius: 10px;
    box-shadow: 5px 5px var(--dark);
    cursor: pointer;
}

button:hover {
    background-color: var(--button);
    box-shadow: 10px 10px var(--dark);
}

button#next {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.material-icons {
    margin: 2px;
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 768px) and (max-width: 820px) {
    body {
        font-size: 60%;
    }
}

/* CELLPHONE MEDIA QUERY*/
@media screen and (min-width: 200px) and (max-width: 767px) {
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50%;
        border: 3px solid var(--dark);
        font-weight: normal;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--header);
        border-bottom: 3px solid var(--dark);
    }

    h1, h2{
        border: 1px solid var(--dark);
    }

    div.sidebyside {
        display: flex;
        flex-direction: column;
    }

    div.timer {
        box-shadow: 1px 1px var(--dark);
    }

    button {
        padding: 5px;
        margin: 20px;
        border: 1px solid var(--dark);
        border-radius: 10px;
        box-shadow: 5px 5px var(--dark);
        cursor: pointer;
    }

}