:root {
    /* declare a variable with `--` syntax */
    --dark: #404041;
    --light: #F4F7F7;
    --header: #E3856B;
    --button: #e6f2ce;
    --form: #CEE6F2;
    --border: #404041;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: var(--form);
    color: var(--dark);
    width: 99%;
    font-size: 80%;
    border: 5px solid var(--dark);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header);
    border-bottom: 5px solid var(--dark);
}

div.sidebyside {
    display: flex;
    flex-direction: row;
    align-items: ;
}

h1, h2 {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    color: var(--dark);
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    box-shadow: 3px 3px var(--dark);
}

/* START WINDOW with BUTTON */

div.startwindow {
    display: flex;
    justify-content: center;
    background-color: var(--form);
    padding: 30px;
}

button#begin{
    width: 50%;
}
/* FORM /QUIZ QUESTIONS*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 300px;
    background-color: var(--form);
    visibility: hidden; /*using this to keep in DOM,adding an event listener to the button, will reveal when button clicked*/
}

fieldset {
    background-color: var(--light);
    border: 3px solid var(--border);
    border-radius: 10px;
    box-shadow: 10px 10px var(--border);
}

/* Aligning the input and label on the same line */

div.choices {
    display: flex;
    flex-direction: column;
}

div.answer {
    display: inline-block;
    margin: 10px;
}

/* BUTTONS */

button {
    padding: 5px;
    margin: 20px;
    font-weight: bold;
    border: 2px solid var(--dark);
    border-radius: 10px;
    box-shadow: 5px 5px var(--dark)
}

button:hover {
    background-color: var(--button);
    box-shadow: 10px 10px var(--dark);
}

button#next {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.material-icons {
    margin: 2px;
}

/* MEDIA QUERY */
@media screen(max-width 780) {
    
}